.header {
  background-color: #000;
}

.header a {
  color: #FFF;
}

.header li {
  display: inline-block;
  margin-left: 10px;
}

.header section {
  padding: 0;
}

.header ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.logo {
  background-image: url(images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;
}
